*/ {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

body {
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center;
}

.sticky-top {
    margin-top: 1%;
}

._buttons {
    margin-right: 5px;
    margin-bottom: 5px;
}



/* @media only screen and (max-width:1280px) {
} */