*/ {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

body {
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center;
}

.sticky-top {
    margin-top: 1%;
}

footer {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    background-color: #333333;
    text-align: center;
    position: absolute;
    bottom: 0%;

}

a{
    color: #666666;
}

a:hover {
    color: #999999;
}

._button {
    margin-right: 5px;
    margin-bottom: 5px;
}

p {
    color: aliceblue;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}



/* @media only screen and (max-width:1280px) {
} */